@model Skidor4.Models.chips
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


        <div class="container s-table m-top-25">
            <div class="row s-table-head">
                <div class="col-md-3">Chipnummer</div>
            </div>
            <div class="spacing">
                <!-- Add row for each user -->
                <div class="row s-table-row">
                    <div class="col-md-2">@Html.EditorFor(model => model.pk_id, new { htmlAttributes = new { @class = "form-control" } })</div>
                    <div class="col-md-6">
                        <div class="container">
                            <button class="btn btn-primary bg-dark" type="submit">Koppla chip</button>
                            <button class="btn btn-primary bg-dark" type="button" onclick="location.href='@Url.Action("Profile")'">Tillbaka</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
