@model Skidor4.Models.ViewModels.ManagerStatisticsViewModel


<canvas id="myChartCards"></canvas>


@*<div class="container s-table">
    <div class="row s-table-head">
        <div class="col-md-4">Korttyp</div>
        <div class="col-md-4">Antal sålda</div>
        <div class="col-md-4 text-right">Summa</div>
    </div>

     Add row for each track 
    @foreach (var item in Model.CardList)
    {
        <div class="row s-table-row">
            <div class="col-md-4">@item.name</div>
            <div class="col-md-4">@item.count</div>
            <div class="col-md-4 text-right">@item.sum SEK</div>
        </div>
    }
</div>*@
