@model Skidor4.Models.ViewModels.ManagerStatisticsViewModel
    
<canvas id="myChart"></canvas>
    
@*<div class="container s-table">
    <div class="row s-table-head">
    <div class="col-md-4">Mest trafikerade spår</div>
    <div class="col-md-4">Antal åkare</div>
</div>

     Add row for each track 
@foreach (var item in Model.TrackList)
{
    <div class="row s-table-row">
    <div class="col-md-4" id="trackName">@item.name</div>
    <div class="col-md-4" id="trackCount">@item.count</div>
    </div>
}
</div>*@

