<div id="footer" class="footer">
    <div class="flex-footer container">
        <div class="footer-column first">
            <h4 class="footer-h2">Kontakt</h4>
            <p class="footer-p"><strong>Östersunds kommun</strong>831 82 Östersund</p>
            <p class="footer-p"><i class="fa fa-envelope-square" style="font-size:35px;"></i> kundcenter@ostersund.se</p>
            <p class="footer-p"><i class="fa fa-phone-square" style="font-size:35px;"></i> 063 - 14 30 00</p>
            <p class="footer-p"><strong>Öppettider</strong>Måndag - torsdag: 08 - 17<br>Fredag: 8 - 16</p>
        </div>
        <div class="footer-column">
            <h4 class="footer-h2">Sociala medier</h4>
            <p class="footer-p"><a href="https://www.facebook.com/ostersundskommun/"><i class="fa fa-facebook-square" style="font-size:35px;"></i> Facebook </a> </p>
            <p class="footer-p"><a href="https://www.youtube.com/user/vinterstadenOSD"><i class="fa fa-youtube-square" style="font-size:35px;"></i>  Youtube</a></p>
            <p class="footer-p"><a href="https://www.instagram.com/ostersundskommun/"><i class="fa fa-instagram" style="font-size:35px;"></i>Instagram</a></p>
            <p class="footer-p"><a href="https://www.linkedin.com/company/ostersunds-kommun"><i class="fa fa-linkedin-square" style="font-size:35px;"></i>  Linkedin</a></p>
        </div>
        <div class="footer-column">
            <a class="weatherwidget-io" href="https://forecast7.com/sv/63d1814d64/ostersund/" data-label_1="ÖSTERSUND" data-label_2="Väder" data-icons="Climacons Animated" data-days="3" data-theme="original" data-basecolor="#09428f" data-cloudfill="#1a80c8">ÖSTERSUND Väder</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
            
        </div>
        <div class="footer-column last">
            <h4 class="footer-h2">Var med och påverka</h4>
            <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
    </div>
    
</div>


